.container{
	font-family: 'Poiret One', cursive;
	background-color: solid rgba(85, 136, 18, 0.849);
}
#major{
	background-image: url("https://1.bp.blogspot.com/-EvdjpmycoYI/YPxKBLry1cI/AAAAAAAAD18/1gxxsLcITFMA8CyvL4LkYe1YnudLJ5NGACLcBGAsYHQ/s826/Web-mobile-development-banner%2BHow%2Bcan%2BI%2Blearn%2Bweb%2Bdevelopment.jpg");
	height: 670px;
	background-size: cover;
	background-repeat: repeat;
	margin-top: 10px;
}
#myname{
	padding: 25px;
	margin-left: 200px;
}
h1 {
	font-size: 35px;
	margin-top: 25px;

}
h3{
	color: black;
	font-size: 25px;
}
#picture{
	margin-left: 850px;
	margin-top: -200px;
}
h2{
	text-align: center;
	color: rgb(12, 12, 136);
	margin-top: 2px;
	font-size: 45px;
}

p{
	font-size: large;
}


  
  .site-contact-details li {
	list-style: none;
	margin-bottom: 20px; 
}
	.site-contact-details li > span {
	  color: #0a0368;
	  letter-spacing: .1em;
	  font-size: 12px;
	  font-weight: 500;
	  margin-bottom: 5px;
	  display: block;
	 }